/* utility 
==============*/

/* centering the container */
.center {
    margin:0 auto!important;
    float:none!important;
}

/* hide/show: desktop */
.device-show { display:none  }
.device-hide { display:block }


/* The Grid 
=============*/

/* row */
.full {
    width:100%!important;
    margin:10px 0;
}

.half, .third, .fourth, .fifth, .sixth {
    width:100%;
    margin-bottom:10px;
    position:relative;
}

/* column */
.half   > *,
.third  > *,
.fourth > *,
.fifth  > *,
.sixth  > * { float:left; margin-right:2.2% }

/* last column, must use .last */
.last { margin-right:0; float:right }

/* column single */
.half   > * { width:48.9%  }
.third  > * { width:31.9%  }
.fourth > * { width:23.35% }
.fifth  > * { width:18.24% }
.sixth  > * { width:14.83% }

/* column span */
.third > .two    { width:65.8%  }

.fourth > .two   { width:48.9%  }
.fourth > .three { width:74.25% }

.fifth > .two    { width:38.68% }
.fifth > .three  { width:59.1%  }
.fifth > .four   { width:79.65% }

.sixth > .two    { width:31.86% }
.sixth > .three  { width:48.89% }
.sixth > .four   { width:66%    }
.sixth > .five   { width:83.05% }


/* --- mobile grid lt 801 -- */ 
@media only screen and (max-width: 801px) {

    /* reset grid
    ============== */

    /* reset bottom margin for containers */
    .half, .third, .fourth, .fifth, .sixth {
        margin:0 auto;
    }
    
    /* re-apply all element width and margins,
     * lock overflows, so absolute element will not affect the grid */
    .third  > .two,
    .fourth > .two,
    .fifth  > .two,
    .sixth  > .two,
    .fourth > .three,
    .fifth  > .three,
    .sixth  > .three,
    .fifth  > .four,
    .sixth  > .four,
    .sixth  > .five,
    .half   > *,
    .third  > *,
    .fourth > *,
    .fifth  > *,
    .sixth  > * {
        width:100%;
        margin-bottom:10px;
        overflow:hidden;
    }

    /* reset last */
    .last { float:left }

    /* new elements widths 
     ===========================*/

    /* redefine mobile last : margin-right */
    .device-half,
    .device-twothird,
    .device-third { margin-right:2.2% }

    .device-center { margin:0 auto!important; float:none!important; display:block!important }

    .device-half-last,
    .device-twothird-last,
    .device-third-last { margin-right:0 !important; float:right !important}

    /* redefinging column width */
    .device-half,
    .device-half-last { width:48.9%!important }

    .device-twothird,
    .device-twothird-last { width:65.8%!important }

    .device-third,
    .device-third-last { width:31.8%!important }

    /* hide/show: mobile */
    .device-show { display:block }
    .device-hide { display:none  }

    .full {
        margin-top: 0;
    }

}

/* row clearfix */
.half:after,
.third:after,
.fourth:after,
.fifth:after,
.sixth:after
{ clear:both; content:"."; display:block; height:0; visibility:hidden; }
