/* row */
.full, .half, .third, .fourth, .fifth, .sixth {
    width:100%;
    margin:0px auto 10px;
    position:relative;
}

/* column */
.half   > div,
.third  > div,
.fourth > div,
.fifth  > div,
.sixth  > div { float:left; margin-right:2.2% }

/* last column, must use div.last */
div.last { margin-right:0; float:right }

/* grid width 
=============*/

/* single grid */
.half   > div { width:48.9%  }
.third  > div { width:31.8%  }
.fourth > div { width:23.35% }
.fifth  > div { width:18.24% }
.sixth  > div { width:14.83% }

/* child span */
.third > .two    { width:65.8%  }

.fourth > .two   { width:48.9%  }
.fourth > .three { width:74.25% }

.fifth > .two    { width:38.68% }
.fifth > .three  { width:59.22% }
.fifth > .four   { width:79.65% }

.sixth > .two    { width:31.86% }
.sixth > .three  { width:48.89% }
.sixth > .four   { width:66% }
.sixth > .five   { width:83.05% }

.center {
    margin:0 auto!important;
    float:none!important;
}

/* reverse */
.device-show { display:none  }
.device-hide { display:block }

/* --- mobile grid lt 801 -- */ 
@media only screen and (max-width: 801px) {

    /* reset */
    .half, .third, .fourth, .fifth, .sixth {
        margin:0 auto;
    }
    
    .third > .two,
    .fourth > .two,
    .fourth > .three,
    .fifth > .two,
    .fifth > .three,
    .fifth > .four,
    .sixth > .two,
    .sixth > .three,
    .sixth > .four,
    .sixth > .five,
    .device-full,
    .half   > div,
    .third  > div,
    .fourth > div,
    .fifth  > div,
    .sixth  > div {
        width:100%;
        margin-bottom:10px;
        overflow:hidden;
    }

    div.last { float:left }

    /* redefine margin-right */
    div.last,
    .device-half,
    .device-third { margin-right:2.2% }

    .device-full,
    .device-center { margin:0 auto!important; float:none!important; display:block!important }

    .device-half-last,
    .device-twothird-last,
    .device-third-last { margin-right:0 !important; float:right !important}

    /* redefinging column width */
    .device-half,
    .device-half-last { width:48.9% !important}

    .device-twothird,
    .device-twothird-last { width:65.8%  !important}

    .device-third,
    .device-third-last { width:31.8%  !important}

    .device-show { display:block }
    .device-hide { display:none }

}

/* row clearfix */
.half:after,
.third:after,
.fourth:after,
.fifth:after,
.sixth:after
{ clear:both; content:"."; display:block; height:0; visibility:hidden; }
